body {
	font: normal 62.5% "proxima-nova", Helvetica, Arial, sans-serif;
	color: #999;
}

.push {
	clear: both;
}

.content_wrap{
	background: #fff;
}

.top_wrap {
	width: 100%;
	background: #2c3e50;
	background: url('background.jpg') no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
}

p {
	margin: 24px 0;
}

/* Sticky Menu
======================= */
.stickymenu_wrap {
	position: fixed;
	top: -80px;
	z-index: 1000;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	background: #242F38;
	height: 80px;
	width: 100%;
}

.stickymenu {
	width: 92.75%;
	max-width: 1240px;
	margin: 0 auto;
	height: 80px;
	overflow: visible;
}

.stickymenu_wrap h1 {
	float: left;
	display: inline;
	width: 11em;
	margin-top: 17px;
}

.stickymenu_wrap h1 img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.sticky_nav {
	float: left;
	display: inline;
	margin-left: 40px;
	margin-top: 32px;
}

.sticky_nav li {
	float: left;
	display: inline;
	font-size: 1.4em;
	text-transform: uppercase;
	margin-right: 30px;
}

.sticky_nav li a {
	text-decoration: none;
	color: #fff;
	font-weight: 700;
}
.sticky_nav li a.active {
	color: #1abc9c;
}

/* Desktop Main Nav
======================== */
.header {
	width: 92.75;
	max-width: 1240px;
	margin: 0 auto;
	padding: 40px 0;
}

.main_nav {
	float: left;
	display: inline;
	margin-left: 47px;
	margin-top: 40px;
}

.header h1 {
	float: left;
	display: inline;
	width: 15em;
}

.main_nav li {
	float: left;
	display: inline;
	font-size: 1.4em;
	text-transform: uppercase;
	margin-right: 30px;
}

.main_nav li a {
	text-decoration: none;
	color: #fff;
	font-weight: 700;
}
.main_nav li a.active {
	color: #1abc9c;
}

a.button {
	display:block;
	background: #3498db;
	color: #fff;
	padding: 16px 20px;
	font-size: 1.4em;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 700;
	text-decoration: none;
}

.header a.button {
	float:right;
	display: inline;
	margin-top: 21px;
}

a.button:hover {
	background: #2980b9;
}

.stickymenu_wrap a.button {
	float: right;
	display: inline;
	margin-top: 15px;
}

.stickymenu_wrap a.btn_menu {
	margin-top: 15px;
}


/* Imagery
======================== */
.header h1 img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.devices img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

a.btn_menu {
	float: right;
	width: 49px;
	margin-top: 14px;
	margin-right: 20px;
}

a.btn_menu img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.tier_1 img {
	width: 30.84%;
	max-width: 100%;
	height: auto;
	margin-left: 20em;
	padding: 25px;
	border: 4px solid;
	border-radius: 130px;
}

.bars {
	width: 92.75%;
	max-width: 1100px;
	margin: 110px auto 0 auto;
}

.bars img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

/* Taglines
====================== */
h2.tagline {
	padding-top: 0.5em;
	text-align: center;
	font-size: 6em;
	font-weight: 100;
	color: #fff;
	margin: 70px 0 130px 0;
}

.devices {
	width: 92.75%;
	max-width: 980px;
	margin: 80px auto 0 auto;
}

/* Content
========================== */

/* Tier 1 */

.tier_1_wrap{
	padding: 75px 0;
}

.tier_1_wrap h2{
	letter-spacing: 4px;
	text-indent: 2px;
	text-transform: uppercase;
	font-size: 1.4em;
	color: #999;
	font-weight: 700;
	text-align: center;
}

.tier_1 {
	width: 92.75%;
	max-width: 1240px;
	margin: 56px auto 0 auto;
	padding: 0;
	overflow: hidden;
}

.tier_1 .left {
	width: 48.129%;
}

.left {
	float: left;
	display: inline;
}

.tier_1 .right {
	width: 51.419%;
}

.right {
	float: right;
	display: inline;
}

.tier_1 p {
	line-height: 2em;
	font-size: 1.8em;
}


/* Tier 2 */
.tier_2_wrap {
	width: 100%;
	background: #314353;
	padding: 140px 0 0 0;
}

.tier_2 {
	width: 92.75%;
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 0 0 0;
}


.tier_2 .border {
	border: 4px solid #fff;
	width: 30%;
	margin-bottom: 100px;
}

.tier_2 h3{
	text-align: center;
	font-size: 5em;
	font-weight: 300;
	color: #fff;
}

/* Tier 3 */

.tier_3_wrap{
	width: 100%;
	background: url('man_on_phone.jpg') no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 140px 0 0px 0;
}

.tier_3{
	width: 92.75%;
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 0 0 0;
}

.tier_3 .border {
	border: 4px solid #fff;
	width: 30%;
	margin-bottom: 100px;
}

.paragraphs p {
	padding: 30px 15px 70px 15px;
	margin: 0;
	line-height: 1.5;
	font-size: 3.8em;
	color: #fff;
	font-weight: 100;
}

.tablet {
	display: none;
}

a.tablet {
	display: none;
}

.border {
	text-align: center;
	margin: 0 auto 80px auto;
	padding: 20px 0;
}

.border h2 {
	color: #fff;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 1.4em;
	font-weight: 700;
}
/* Media Query: Tablet
==========================*/

@media only screen and (max-width: 880px){
  .tablet {
  	display: block;
  }

	.desktop {
		display: none;
	}

	#divMenu {
		display:none;
	}

  a.tablet {
  	display: block;
  }

  .main_nav{
  	clear: both;
  	width: 100%;
  	background: #5e7284;
		overflow: hidden;
		margin: 7px 0 0 0;
  }

	.main_nav li {
		width: 20%;
		border-right: 1px solid #72879a;
		text-align: center;
		margin: 0;
		display: block;
		float: left;
		box-sizing: border-box;
	}
  .main_nav li a{
  	padding: 20px 0;
  	display: block;
  }

  .main_nav li.last {
  	border: 0;
  }
}